<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixiaozhuo.androidcomponent">
    <!--用户权限-->
    <!--联网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--手机联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:name="._01_application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--============================Application===============================================-->
        <activity android:name="._01_application.ApplicationActivity1"/>
        <activity android:name="._01_application.ApplicationActivity2"/>
        <!--============================Calculator===============================================-->
        <activity android:name="._02_calculator.CalculatorActivity"/>
        <!--==============================Activity=============================================-->
        <activity android:name="._03_activity.Activity1" />
        <activity android:name="._03_activity.Activity2" />
        <activity
            android:name="._03_activity.Activity3"
            android:theme="@android:style/Theme.Dialog" />
        <!--=============================Broadcast==============================================-->
        <activity android:name="._04_broadcast.BroadcastActivity" />
        <receiver android:name="._04_broadcast.BroadcastReceiverLife">
            <intent-filter >
                <action android:name="com.lixiaozhuo.androidcomponent.broadcast.BroadcastLife"/>
            </intent-filter>
        </receiver>
        <!--============================intent===============================================-->
        <activity android:name="._05_intent.IntentActivity1"/>
        <activity android:name="._05_intent.IntentActivity2"/>
        <activity
            android:name="._05_intent.IntentActivity3"
            android:label="隐式打开" >
            <intent-filter>
                <action android:name="com.lixiaozhuo.androidcomponent.intent.ACTION_START" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lixiaozhuo.androidcomponent.intent.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name="._05_intent.IntentActivity4"/>
        <activity android:name="._05_intent.IntentActivity5"/>
        <!--=============================Service==============================================-->
        <activity android:name="._06_service.ServiceActivity"/>
        <service
            android:name="._06_service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="._06_service.NativeMusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="._06_service.RemoteMusicService"
            android:enabled="true"
            android:exported="true"/>

        <!--==============================ContentProvider=============================================-->
        <activity android:name="._07_content_provider.ContentProviderActivity"/>
        <!--provider-->
        <activity android:name="._07_content_provider.provider.ContentProvider_ProviderActivity"/>
        <provider
            android:name="._07_content_provider.provider.ContentProvider_Provider"
            android:authorities="com.lixiaozhuo.provider"
            android:enabled="true"
            android:exported="true" />
        <!--user-->
        <activity android:name="._07_content_provider.user.ContentProvider_UserActivity"/>
        <!--system-book-->
        <activity android:name="._07_content_provider.system_book.ContentProvider_SystemBookActivity"/>
        <!--==========================View=================================================-->
        <activity android:name="._08_view.ViewActivity"/>
        <!-- Login-->
        <activity android:name="._08_view.login.LoginActivity"/>
        <!-- Menu-->
        <activity android:name="._08_view.menu.MenuActivity"/>
        <!-- Spinner-->
        <activity android:name="._08_view.spinner.SpinnerActivity"/>
        <!-- Toast-->
        <activity android:name="._08_view.toast.ToastActivity"/>
        <!-- Dialog-->
        <activity android:name="._08_view.dialog.DialogActivity"/>
        <activity android:name="._08_view.dialog.RadiobuttonActivity"/>
        <!-- ListView-->
        <activity android:name="._08_view.listview.ListViewActivity"/>
        <!-- Notification-->
        <activity android:name="._08_view.notification.NotificationActivity"/>
        <activity android:name="._08_view.notification.Notification_ImageActivity"/>
        <service android:name="._08_view.notification.Notification_MediaService"/>
        <service android:name="._08_view.notification.Notification_DownloadService"/>
        <!--RecyclerView-->
        <activity android:name="._08_view.recyclerview.RecyclerViewActivity"/>
        <!--Tab-->
        <activity android:name="._08_view.tab.TabActivity2"/>
        <activity android:name="._08_view.tab.MyTabActivity"/>
        <!--AppWidget-->
        <receiver android:name="._08_view.appwidget.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action  android:name="com.lixiaozhuo.androidcomponent.view.appwidget.preview"/>
                <action  android:name="com.lixiaozhuo.androidcomponent.view.appwidget.next"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <!--Fragment-->
        <activity android:name="._08_view.fragment.FragmentActivity"/>
        <activity android:name="._08_view.fragment.fragment1.Fragment1Activity"/>
        <activity android:name="._08_view.fragment.fragment2.Fragment2Activity"/>
        <activity android:name="._08_view.fragment.fragment3.Fragment3Activity"/>
        <!--============================数据存储===============================================-->
        <activity android:name="._09_data.DataActivity"/>
        <!-- SharedPreferences-->
        <activity android:name="._09_data.shared_preferences.SharedPreferencesActivity"/>
        <!-- SQLite-->
        <activity android:name="._09_data.sqlite.SQLiteActivity"/>
        <activity android:name="._09_data.sqlite.SQLiteApplicationActivity"/>
        <!--file-->
        <activity android:name="._09_data.file.FileActivity"/>
        <!--============================Network===============================================-->
        <activity android:name="._10_network.NetworkActivity"/>
        <!--网络连接-->
        <activity android:name="._10_network.network_operate.NetworkOperatorActivity"/>
        <!--数据解析-->
        <activity android:name="._10_network.data_parser.DataParserActivity"/>
        <activity android:name="._10_network.data_parser.json.JsonActivity"/>
        <activity android:name="._10_network.data_parser.sax.SaxActivity"/>
        <activity android:name="._10_network.data_parser.login.NetworkLoginActivity"/>
        <!--JavaScript-->
        <activity android:name="._10_network.javascript.JavaScriptActivity"/>
        <activity android:name="._10_network.javascript.webview.WebViewActivity"/>
        <activity android:name="._10_network.javascript.webview_javascript.WebViewJavaScriptActivity"/>
        <activity android:name="._10_network.javascript.webview_javascript.WebViewJavaScriptOpenActivity"/>
        <!--============================Thread===============================================-->
        <activity android:name="._11_thread.ThreadActivity"/>
        <!--Handler-->
        <activity android:name="._11_thread.handler.HandlerActivity"/>
        <activity android:name="._11_thread.handler.handler1.Handler1Activity"/>
        <activity android:name="._11_thread.handler.handler2.Handler2Activity"/>
        <activity android:name="._11_thread.handler.handler_thread.HandlerThreadActivity"/>
        <activity android:name="._11_thread.handler.handler_ui.HandlerUIActivity"/>
        <activity android:name="._11_thread.handler.communication.CommunicationActivity"/>
        <!--AsyncTask-->
        <activity android:name="._11_thread.asynctask.AsyncTaskActivity"/>
        <activity android:name="._11_thread.asynctask.asynctask1.AsyncTask1Activity"/>
        <activity android:name="._11_thread.asynctask.asynctask2.AsyncTask2Activity"/>
        <!--UI-->
        <activity android:name="._11_thread.update_ui.UpdateUIActivity"/>

    </application>
</manifest>